.author
  = post.author_name
  %span.date= post.published_at.strftime("%d %B")
.title= link_to raw("&#x2192;") + post.title, '#', onclick: "$('#post_#{post.id.to_s} .blurb').slideToggle();$('#post_#{post.id.to_s} .occluded').slideToggle(); return false;"

.info[post]
  .blurb= truncate_html(strip_tags(post.body), length: 120)
  .occluded
    - unless post.images.empty?
      - if post.images.size > 1
        .slideshow
          = link_to(post.images[0].image.url(:large), {:class => :fancybox, :rel => "gallery_#{post.id.to_s}", :id => "image_#{post.images[0].id}"}) do
            = image_tag(post.images[0].image.url(:small), :alt => post.images[0].caption_and_credit)
            .slideshow_hover
              .text Slideshow
          - post.images[1..-1].each do |image|
            = link_to(image_tag(image.image.url(:small), :alt => image.caption_and_credit), image.image.url(:large), :rel => "gallery_#{post.id.to_s}", :class => [:fancybox, :hidden])
      - else  
        - post.images.each do |image|
          = link_to image_tag(image.image.url(:small), :alt => image.caption_and_credit), image.image.url(:large), :class => :fancybox
    
    
    :javascript
      $(".fancybox").fancybox({
          beforeShow : function() {
                  var alt = this.element.find('img').attr('alt');
        
                  this.inner.find('img').attr('alt', alt);
        
                  this.title = alt;
              },
          padding : 0
      });
    .body= raw post.body