.row
  .small-12.columns
    %h2 Users
.row
  .small-12.columns
    %table
      %thead
        %th= sortable_column "ID"
        %th= sortable_column  "Username" 
        %th Privileges
        %th Location
        %th= sortable_column  "Email"
        %th= sortable_column  "Approved"
        %th Actions
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id.to_s
            %td= user.username
            %td= user.roles.map(&:name).join(', ')
            %td= user.site.try(:name)
            %td= user.email
            %td= user.approved == true ? 'yes' : 'no'
            %td.actions
              - if can? :edit, user
                = link_to 'Edit', edit_admin_user_path(user), :class => [:button, :round, :tiny]
              - if can? :destroy, user
                = link_to 'Delete', [:admin, user], :method => :delete, :class => [:button, :round, :tiny, :alert], :data => {:confirm => 'Are you sure you want to delete this person forever?'}
 