.site_index
  %h3 Sites

  %p 
    Frontiers in Retreat is organised by
    = link_to raw("&#x2192;") + @sites.where(:lead => true).first.name, '#', :onclick => "siteDialog('#{site_path(@sites.where(:lead => true).first.slug)}', '#{@sites.where(:lead => true).first.slug}'); return false;"
    in partnership with the following art organisations:
  
  %p
    %ul.sites
      - @sites.where("lead is not true").each do |site|
        %li= link_to raw("&#x2192;") + site.name, '#', :onClick => "siteDialog('#{site_path(site.slug)}', '#{site.slug}'); return false;"
      
